.Recruitment_Container{
    //width: 30% !important;
    display: flex;
    // grid-template-areas: 
    // "A A A B B B B B B B B B"
    // ;
    width: 100%;
    .Recruitment{
      // grid-area: "A";
      width: 30%;
    }
    .Recruitment__Page{
      // grid-area: "B";
      width: 70%;
    }
}
