@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders+Inline+Text&display=swap');
.k-card{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #ffffff; 
    padding: 20px;
}
.k-card:hover{
    background-color: blanchedalmond;
}
.k-card:hover .k-card-title{
    color: red;
    font-weight: bold;
}
.k-card:hover .Ilike{
    color: #4CB946;
    // font-weight: bold;
    font-size: 25px;
}
.k-card:hover .TitleReview{
    color: red;
    // font-weight: bold;
    font-size: 25px;
}

.k-card:hover .Improve{
    color:#FB8500 ;
    // font-weight: bold;
    font-size: 25px;
}
.k-listview.k-widget {
    border-style: groove;
}
.DetailComment{
    font-size: 25px !important;
}