.containerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 15px;
  margin-bottom: 25px;
  -webkit-box-shadow: 4px 12px 43px -5px rgba(0, 32, 0, 0.47);
  -moz-box-shadow: 4px 12px 43px -5px rgba(0, 32, 0, 0.47);
  box-shadow: 4px 12px 43px -5px rgba(135, 109, 250, 0.616);
}
.CompanyNameTitle {
  font-family: "Alfa Slab One", cursive;
  font-size: 30px;
  color: #fb8500;
}
.containerImage {
  display: flex;
  flex-direction: row;
  padding: 5px; /* this */
  margin-bottom: 15px;
}
.containerImage > img {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px; /* and that, will result in a 10px gap */
}
/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}
.CenterButton{
  display: flex;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  display: inline-block;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
.containerDetail {
  display: flex;
  padding-top: 10px;
  justify-items: stretch;
}
.detail_side {
  display: -webkit-inline-box;
}
.detail_side_content {
  padding-left: 10px;
}
.buttonCenter {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 17px;
  // margin-left: 63px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  padding: 15px;
}
.buttonCenterNotification{
  position: absolute;
  top: 5px;
  right: 9px;
  padding: 1px 5px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
.TitleWork {
  font-family: "Lobster", cursive;
  font-size: 40px;
  margin-bottom: 30px;
  color: #d62828;
}
.main > h3 {
  font-family: "Anton", sans-serif;
}
