.containerTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerImage
{
    display:flex;
    flex-direction:row;
    padding:5px; /* this */
}
.containerImage > img
{
    flex:1 1 auto;
    text-align:center;
    margin:5px;  /* and that, will result in a 10px gap */
}
/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  display: inline-block;
}

/* Main column */
.main {
  flex: 70%;
  background-color:white;
  padding: 20px;
}
.containerDetail{
    display: flex;
    padding-top: 10px;
    justify-items: stretch;
}
.detail_side{
  display: -webkit-inline-box;
}
.detail_side_content{
  padding-left: 10px;
}