.textTuyenDung{
    font-family: fantasy;
}
.textReview{
    font-family: fantasy;
    padding-top: 16px;
}
.containerReview{
    padding-left: 16px;
}
.headerReview{
    font-size: 1.5em;
    font-weight: bold;
    font-size: 18px;

}
.company-container .paragraph {
    font-size: 16px;
    line-height: 1.7em;
    padding-left: 10px;
}
.HeaderContent {
    font-size: 1.5rem;
    font-weight: bold;
}