li.MuiListItem-root.MuiListItem-gutters.MuiListItem-alignItemsFlexStart:hover {
    background: #B8E6FF;
}
.MuiDivider-inset {
    margin-left: 0px !important;
}
.container-master{
    height: 100vh !important;
    width: 250px !important;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
    display: block;
}