.css-1rhbuit-multiValue {
    background-color: white !important;
    border-style: solid;
    border-width: thin;
    //padding:5px;
}
.css-1rhbuit-multiValue:hover{
    background-color:#FFF5F8 !important;
    border-color:#ff0f63 !important;
    
}