@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&display=swap');
h1{
    font-family: 'Lobster', cursive;
     padding-top: 25px;
}
.headerThongTinCV{
    font-family: 'Alfa Slab One';
    text-align: center;
    border-style: solid;
    padding:5px;
    color: #FF9304;
    padding-top: 10px !important;
}
